@charset "utf-8";
 
div,form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{ padding:0px; margin:0px;}
li,dl,dd{ list-style-type:none;}
a{ color:#333; text-decoration:none;}
a:hover { color:red; text-decoration:underline;}

.winlogin{width:500px; height: 470px;padding:15px 10px;margin:0 auto;color:#555;background-color:#F8F8F8;z-index:99992;background:url(../images/login-bg.gif) no-repeat 0 0;}
.winlogin a, .wincreate a{color:#3399e0;}
.spline{background:url(../images/reg.png) repeat-x 0 -50px;height:1px;line-height:1px;overflow:hidden;margin:10px 0;}

.winlogin .YK_tabs{height:35px;border-bottom:2px solid #e5e5e5;padding-left:20px;margin-bottom:15px;z-index:99994;}
.winlogin .YK_tabs li{position:relative;top:2px;float:left;height:30px;margin-left:-1px;border:1px solid #e5e5e5;border-bottom:2px solid #e5e5e5;z-index:99995;}
.winlogin .YK_tabs a{z-index:99996;background-color:#fff;display:block;padding:0 20px;line-height:32px;overflow:hidden;text-align:center;font-size:14px;color:#565656;}
.winlogin .YK_tabs .current{border-top:3px solid #666;height:30px;border-bottom:2px solid #F8F8F8;background-color:#F8F8F8;}
.winlogin .YK_tabs .current a{font-weight:bold;line-height:27px;background-color:#F8F8F8;}

.winlogin .tudou_login{float:left;background:url(/partner/img/ico_tudou_16x16.png) no-repeat left 6px;}
.winlogin .tudou_login a{padding-left:20px;line-height:30px;}
.winlogin .tudou_login .split{padding:0 10px;}
.winlogin .other_login{overflow:hidden;}
.winlogin .other_login .accout_list{margin-left:2px;margin-top:2px;}
.winlogin .other_login .accout_list a{display:inline-block;*display:inline;*zoom:1;margin-right:10px;}
.winlogin .other_login .accout_list img{vertical-align:text-bottom;}
.winlogin .type li{position:relative;color:#3399e0;cursor:pointer;margin:10px 0 25px 0;float:left;padding:0 30px;width:208px;height:43px;_height:30px;_padding-top:15px;line-height:45px;background:#ffffff;border:1px solid #e5e5e5;text-align:center;font-size:14px;}
.winlogin .type .current{background:#e5e5e5;color:#555555;}
.winlogin .type .ico__mail{background:url(../images/reg.png) no-repeat 0 -610px;width:24px;height:17px;margin-right:15px;}
.winlogin .type .ico__mobile{display:inline-block;*display:inline;*zoom:1;background:url(../images/reg.png) no-repeat -50px -610px;width:17px;height:23px;margin-right:15px;overflow:hidden;vertical-align:middle;_margin-top:-3px;}
.winlogin .type .arrow{position:absolute;bottom:-8px;_bottom:-15px;left:50%;margin-left:-8px;display:none;*zoom:1;background:url(../images/reg.png) no-repeat -100px -610px;width:16px;height:8px;}
.winlogin .type .current .arrow{display:block;}
.winlogin .spline{margin:0 0 10px 0;}
.winlogin .loginbtn a{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;width:130px;height:45px;background:url(../images/reg.png) no-repeat 0 -310px;}
.winlogin .loginbtn a:hover{background-position:-150px -310px;}
.winlogin .loginbtn a:active{background-position:-300px -310px;}
.winlogin .loginbtn em{display:none;}
.winlogin .formbox{position:relative;padding-left:20px;}

.formbox{zoom:1;overflow:hidden;}
.formbox .loginwin{padding-bottom:10px;}
.formbox fieldset{border:none;}
.formbox .propinfo{position:absolute;right:20px;top:15px;}
.formbox .propinfo img{width:173px;height:111px;}
.formbox .entry{margin-bottom:20px;position:relative; }
.formbox .entry .placeholder{position:absolute;top:5px;*top:7px;left:10px;color:#BBB;font-size:14px;}
.formbox .entry .tips{margin-left:10px;} 
.formbox h3{margin-bottom:15px;color:#555;}
.formbox label{color:#565656;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:14px;padding:0 5px;width:80px;text-align:right;}
.formbox .loginwin label{width:60px;}
.formbox .loginbtn{margin-bottom:10px;}
.formbox .form_btn_m .form_btn_text{font-size:14px;}
.formbox .form_input{width:200px;_width:230px;margin-right:5px;}
.formbox .save{margin:0;margin:-10px 0 20px 0;}
.formbox .save label{padding:0;width:50px;text-align:left;font-size:12px;}
.formbox .save a{position:relative;top:1px;*top:-1px;}
.formbox .regbtn a{vertical-align:middle;display:inline-block;*display:inline;*zoom:1;width:130px;height:45px;background:url(../img/reg.png) no-repeat 0 -70px;}
.formbox .regbtn a:hover{background-position:-150px -70px;}
.formbox .regbtn a:active{background-position:-300px -70px;}
.formbox .terms{padding-left:98px;}
.formbox .regbtn{padding-left:98px;}
.formbox .regbtn em{display:none;}
.formbox .codearea .form_input{width:140px;}
.formbox .msg{display:block;color:#909090;float: right;width:118px;}
.formbox .msg .ico__error,.formbox .msg .ico__pass{margin-right:5px;}
.formbox .error{color:#ff0000;margin-top:6px;}
.formbox .success{color:#909090;margin-top:6px;}
.formbox .pswd_state{margin:0 5px;position:relative;zoom:1;vertical-align:middle;display:inline-block;*display:inline;*zoom:1;width:124px;height:10px;background-color:#ececec;border:1px solid #8fd1ff;}
.formbox .pswd_state_def{border:1px solid #c7c7c7;}
.formbox .pswd_state .level{position:absolute;top:1px;left:1px;width:40px;height:8px;display:inline-block;*display:inline;*zoom:1;overflow:hidden;}
.formbox .pswd_state .level_1{background-color:#8fd1ff;}
.formbox .pswd_state .level_2{background-color:#43b1fe;left:42px;}
.formbox .pswd_state .level_3{background-color:#3399e0;left:83px;}
.formbox .pswd_state .level_0{background-color:#c7c7c7;}
.formbox .pswd_state .level_0_1{background-color:#a0a0a0;left:42px;}
.formbox .pswd_state .level_0_2{background-color:#898989;left:83px;}
.formbox .strength{padding-left:98px;padding-top:10px;color:#909090;}
.formbox .userbase{height:50px;margin-bottom:20px;}
.formbox .userbase .avatar{float:left;width:50px;height:50px;margin-right:10px;}
.formbox .userbase li{fonoverflow:hidden;zoom:1;font-size:14px;margin-bottom:5px;}
.formbox .userbase .tips{color:#909090;font-size:12px;}
.formbox .userbase .avatar img{display:block;width:50px;height:50px;}
.formbox .notice{margin-left:98px;margin-top:10px;width:290px;padding:5px 10px;background:#fffcce;border:1px solid #d1be9d;color:#909090;}
.formbox .notice a{margin-left:10px;}
.formbox .loginbind a{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;width:130px;height:45px;background:url(../images/reg.png) no-repeat 0 -230px;}
.formbox .loginbind a:hover{background-position:-150px -230px;}
.formbox .loginbind a:active{background-position:-300px -230px;}
.formbox .loginbind em{display:none;}

.formbox .messalert{ background:#efefef; margin-top:10px; padding:5px; display:none;}
.formbox .messalert span{ color:#F00;}

.formbox .cardloginbox .welcome{ font-size:16px; padding-bottom:8px; padding-left:50px; padding-top:20px;}
.formbox .cardloginbox .welcome_des{color:#B6B6B6; padding-bottom:25px;padding-left:50px;}
.formbox .cardloginbox .tips{ color:#3399E0; font-size:12px; height:20px; line-height:20px; margin-left:0px !important;}

#email_input {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/email.gif);background-repeat:no-repeat;background-position:209px 4px;font-size:15px;font-family:Arial;}
#mobile_input {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/mobile.gif);background-repeat:no-repeat;background-position:209px 4px;font-size:15px;font-family:Arial;}
#password1 {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one5.jpg);background-repeat:no-repeat;background-position:214px 7px;font-size:15px;font-family:Arial;}
#password2 {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;font-size:15px;font-family:Arial;}
#loginJCaptcha {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;font-size:15px;font-family:Arial;}
#user_name_login {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one4.jpg);background-repeat:no-repeat;background-position:304px 7px;font-size:15px;font-family:Arial;}
#mobile_login {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/mobile.gif);background-repeat:no-repeat;background-position:304px 3px;font-size:15px;font-family:Arial;}
#passwd_login {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one5.jpg);background-repeat:no-repeat;background-position:304px 7px;font-size:15px;font-family:Arial;}
.dengluBtn{ width:100%; text-align:center; }
.btn-login{cursor: pointer; font-family: "微软雅黑"; height: 47px; line-height: 34px; margin: 10px 0px 30px 0px; text-indent: -9999px; width: 150px;background:url(../images/login-img3.png)  no-repeat 0 0; *text-indent:0px; _text-indent:0px;line-height:0; font-size:0; *margin-top:0px;}
.btn-login:hover {background:url(../images/login-img3.png) no-repeat 0 -47px;}

.btn-login2{cursor: pointer; font-family: "微软雅黑"; height: 47px; line-height: 34px; margin: 40px 15px 52px 0px; text-indent: -9999px; width: 150px;background:url(../images/login-img3.png)  no-repeat 0 0;cursor:pointer;  *text-indent:0px; _text-indent:0px;line-height:0; font-size:0;}
.btn-login2:hover {background:url(../images/login-img3.png) no-repeat 0 -47px;}

.btn-regist {background: url("../images/regist-btn.png") no-repeat scroll 0 0 transparent;font-family: "微软雅黑";height: 47px;line-height: 34px; text-indent: -9999px; width: 170px;cursor:pointer;  *text-indent:0px; _text-indent:0px;line-height:0; font-size:0;}
.btn-regist:hover {background:url(../images/regist-btn.png) no-repeat 0 -47px;}

.thickdiv {position:fixed;top:0;left:0;z-index:99990;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity = 35);opacity:.35;}
.thickbox {position:absolute;background-color:#FFF;z-index:99991;overflow:hidden;padding:0;border:6px solid rgba(0, 0, 0, 0.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.thickclose:link, .thickclose:visited {display:block;position:absolute;z-index:99993;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background: url(../images/bg_thickbox.gif) no-repeat 0 -18px;font-size:0;line-height:100px;}


#regemlopt .hiopt {background:url(../images/active-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;}
#regmobopt .hiopt {background:url(../images/active-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;}
#regcard .hiopt {background:url(../images/active-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;}
#regemlopt div {background:url(../images/normal-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;margin-top:5px;}
#regmobopt div {background:url(../images/normal-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;margin-top:5px;}
#regcard div {background:url(../images/normal-dot.gif) no-repeat 0 0px;width:9px;height:9px;float:left;margin-top:5px;}
#authcode {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one5.jpg);background-repeat:no-repeat;background-position:214px 7px;font-size:15px;font-family:Arial;}

#bg { background: #000;position: absolute; left: 0; top: 0; filter: "Alpha(opacity=20)";opacity: 0.2;display: none;z-index:10000;}

#close {color: #000; font-family: "微软雅黑";font-size: 16px;position: absolute;right:5px;}
a#close {text-decoration: none;font-weight:bold;}



#win {width:520px;height:495px; border:5px solid #C3C3C3; background: #fff;position:fixed;left: 50%;top: 50%;margin: -235px -240px 0;display: none; z-index: 10005;}

#win .win_tit{ width:470px; height:28px; background:#A6D85D;}
#win .win_tit span{ padding-left:15px; color:#fff; font-size:14px; line-height:28px; font-weight:bold;}
#win .win_tit a{ float:right; margin-top:6px; margin-right:5px;}
#win .win_cont{ width:450px; padding:10px;}
#win .win_cont .log_reg_tabs{ width:425px; border-bottom:1px solid #ccc; float:left; padding-left:25px;}
#win .win_cont .log_reg_tabs li{ width:80px; height:25px; border:1px solid #8DB8DA; background:#EAF7FF; border-bottom:none; text-align:center; float:left; margin-right:7px; line-height:25px;}
#win .win_cont .log_reg_tabs li.on{border:1px solid #ccc; border-bottom:none; background:#fff; position:relative; margin-bottom:-1px; height:26px;}
#win .win_cont .log_reg{ width:450px; float:left; padding-top:40px;}


#win .win_cont .log_reg .log{ width:450px; float:left; }
#win .win_cont .log_reg .reg{ width:450px; float:left; position:relative;}


#win .win_cont .log_reg .log .log_table{ width:450px; margin-bottom:30px;}
#win .win_cont .log_reg .log .log_table span{ padding-left:5px;}
#win .win_cont .log_reg .log .log_table .bordersty1{ width:185px; height:24px; border:1px solid #BBBBBB;}
#win .win_cont .log_reg .log .log_table .align_right{ text-align:right; vertical-align:top; padding-top:7px;}
#win .win_cont .log_reg .log .log_table a{ color:#0059A2; text-decoration:underline;}
#win .win_cont .log_reg .log .log_table span{ padding-left:5px; color:#F00;}
#win .win_cont .log_reg .log .log_table .prompt{ line-height:24px; height:24px; padding-bottom:10px; color:#999;}
#win .loginerror{ line-height:24px; height:24px; padding-bottom:10px; color:#FF0000;}
#win .placeholder{ line-height:24px; height:24px; padding-bottom:10px; color:#999;}
#win .win_cont .log_reg .log .log_table .red{ color:#F00;}
#win .win_cont .log_reg .log .log_table .mt24{ line-height:24px; height:24px;}
#win .win_cont .log_reg .log .log_boot{width:400px; padding:20px 0px 30px 0px; margin:0 auto; border-top:1px solid #E5E5E5; visibility:hidden; }


#win .win_cont .log_reg .reg .swith_btn{ position:absolute; right:0; top:-20px;}
#win .win_cont .log_reg .reg .register_table{ width:450px;}
#win .win_cont .log_reg .reg .register_table .bordersty1{ width:228px; height:26px; border:1px solid #CCC; margin:0; padding:0;}
#win .win_cont .log_reg .reg .register_table .bordersty2{ width:100px; height:26px; border:1px solid #CCC; margin:0; padding:0;}
#win .win_cont .log_reg .reg .register_table .align_right{ text-align:right; vertical-align:top; padding-top:7px;}
#win .win_cont .log_reg .reg .register_table tr td{ padding:0px;}
#win .win_cont .log_reg .reg .register_table a{ color:#0187CE;}
#win .win_cont .log_reg .reg .register_table span{ padding-left:5px; color:#F00;}
#win .win_cont .log_reg .reg .register_table .prompt{ line-height:24px; height:24px; padding-bottom:10px; color:#999;}
#win .loginerror {
    color: #FF0000;
    height: 0;
    line-height: 0;
    margin-bottom: -16px;
    margin-left: 50px;
    margin-top: -12px;
}
#win .placeholder{ line-height:24px; height:24px; padding-bottom:10px; color:#999;}
#win .win_cont .log_reg .reg .register_table .red{ color:#F00;}

#bg2 { background: #000;position: absolute; left: 0; top: 0; filter: "Alpha(opacity=20)";opacity: 0.2;display: none; z-index:10001;}


#win2 {width:520px;height:495px; border:5px solid #C3C3C3; background: #fff;position:fixed;left: 50%;top: 50%;margin: -235px -240px 0;display: none;z-index:10006;border-radius: 5px;}
#win2 .win2box{ color: #555;height: 470px;margin: 0 auto; padding: 15px 10px;width: 500px; }
#win2 .win_tit{ width:500px; }
.thickclose:link, .thickclose:visited {
    background: url("../images/bg_thickbox.gif") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 15px;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 7px;
    width: 15px;
    z-index: 99993;
}

#win2 .YK_tabs{height:35px;border-bottom:2px solid #e5e5e5;padding-left:20px;margin-bottom:15px;z-index:99994;}
#win2 .YK_tabs li{position:relative;top:2px;float:left;height:30px;margin-left:-1px;border:1px solid #e5e5e5;border-bottom:2px solid #e5e5e5;z-index:99995;}
#win2 .YK_tabs a{z-index:99996;background-color:#fff;display:block;padding:0 20px;line-height:32px;overflow:hidden;text-align:center;font-size:14px;color:#565656;}
#win2 .YK_tabs .current{border-top:3px solid #666;height:30px;border-bottom:2px solid #F8F8F8;background-color:#F8F8F8;}
#win2 .YK_tabs .current a{font-weight:bold;line-height:27px;background-color:#F8F8F8;}




#win2 .win_cont{ width:500px;}

#win2 .win_cont .success_warp{ width:500px; float:left; padding-top:40px;}
#win2 .win_cont .success_warp .success{ width:400px; float:left; padding:10px 0px 0px 50px;}
#win2 .win_cont .success_warp .success .part1{ width:330px; background:url(../images/email_icon.jpg) no-repeat left 10px; padding-left:60px; line-height:20px; font-family:微软雅黑; color:#010004; font-size:14px; float:left;}
#win2 .win_cont .success_warp .success .part2{ width:390px; text-align:center; float:left; padding-top:15px;}
#win2 .win_cont .success_warp .success .part2 img{ cursor:pointer;}
#win2 .win_cont .success_warp .success .part3{ width:388px; float:left; margin-top:50px; background:#FCFCE0; border:1px solid #DCDED3; padding:10px 10px 30px 10px;}
#win2 .win_cont .success_warp .success .part3 strong{ font-size:14px;}
#win2 .win_cont .success_warp .success .part3 p{ line-height:18px; margin-top:8px;}
#win2 .win_cont .success_warp .success .part3 p a{ color:#0187CE;}

#bg3 { background: #000;position: absolute; left: 0; top: 0; filter: "Alpha(opacity=20)";opacity: 0.2;display: none; z-index:10002;}
#win3 {width:520px;height:495px; border:5px solid #C3C3C3; background: #fff;position:fixed;left: 50%;top: 50%;margin: -235px -240px 0;display: none;z-index:10007;}
#win3 .win_cont{ width:450px; padding:10px;}
#win3 .loginerror{color: #FF0000; height: 24px; line-height: 24px; margin-bottom: -16px; margin-left: 30px; margin-top: 0px;}
#win3 .win_cont .success_warp{ width:450px; float:left; padding-top:40px;}
#win3 .win_cont .success_warp .success{ width:390px; float:left; padding:10px 30px 0px 30px;}

#user_name_bind_login {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one4.jpg);background-repeat:no-repeat;background-position:304px 7px;font-size:15px;font-family:Arial;}
#passwd_bind_login {border:#CCC 1px solid;height:28px;line-height:28px;padding-left:5px;padding-right:32px;background-image:url(../images/one5.jpg);background-repeat:no-repeat;background-position:304px 7px;font-size:15px;font-family:Arial;}

#close {color: #000; font-family: "微软雅黑";font-size: 16px;position: absolute;right:5px;}
a#close {text-decoration: none;font-weight:bold;}

.check_yes {background:url(../images/true.jpg);width:13px;height:13px;float:left;margin-right:5px;}
.check_no {background:url(../images/warning.jpg);width:14px;height:14px;float:left;margin-right:5px;}





/*注册成功 关联套餐*/
.relationWin {width:600px;height:370px;  background: #fff;position:fixed;left: 50%;top: 50%;margin: -180px -300px 0; z-index: 10006; 
border: 6px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.relationMain{width: 550px;padding: 15px 25px;}
.relationMain .relation_statue{ text-align:center; font-size:22px; font-family:"微软雅黑"; padding:15px 0px 25px 0px; color:#474E5D;}
.relationMain .relation_text{ color:#8E8E8E; padding-bottom:25px; padding:0 10px 15px 10px; font-family:"微软雅黑"; font-size:16px;}
.relationMain .relation_info{ width:405px; padding:0 10px;}
.relationMain .relation_info img{ float:left; margin-right:15px; display:block; width:115px; height:115px;}
.relationMain .relation_info p{ float:left; width:275px; line-height:29px; color:#666666;}
.relationMain .relation_info p strong{ margin-right:17px;}
.relationMain .relation_line{ background:url(../images/relation_xian.jpg) repeat-x; width:100%; height:7px; margin:18px 0px 25px 0px;}
.relationMain .relation_btn{ text-align:center;}
.relationMain .relation_btn input{ background:#EF5A50; width:200px; height:50px; border-radius:3px; border:none; color:#fff; font-size:16px;  font-family:"微软雅黑"; font-weight:bold;}


.relationStep1{width: 565px;padding: 15px 15px 15px 20px;}
.relationStep1 .relation_statue{ text-align:center; font-size:22px; font-family:"微软雅黑"; padding:15px 0px 25px 0px; color:#474E5D;}

.relationStep1 .stepl{ width:392px; float:left;}
.relationStep1 .stepr{ width:140px; float:right;}
.relationStep1 .relation_text{ color:#8E8E8E; padding-bottom:25px; padding:0 10px 15px 10px; font-family:"微软雅黑"; font-size:16px;}
.relationStep1 .relation_info{ width:405px; padding:0 10px;}
.relationStep1 .relation_info img{ float:left; margin-right:15px; display:block; width:115px; height:115px;}
.relationStep1 .relation_info p{ float:left; width:275px; line-height:29px; color:#666666;}
.relationStep1 .relation_info p strong{ margin-right:17px;}
.relationStep1 .relation_add{ width:405px; padding:0 10px;}
.relationStep1 .relation_add input{ width:155px; height:22px; border:1px solid #ccc; line-height:22px; margin-top:12px; margin-left:10px;}
.relationStep1 .relation_line{ background:url(../images/relation_xian.jpg) repeat-x; width:100%; height:7px; margin:18px 0px 25px 0px;}
.relationStep1 .relation_btn{ text-align:right;}
.relationStep1 .relation_btn input{ background:#EF5A50; width:90px; height:28px; border-radius:3px; border:none; color:#fff; font-size:14px;  font-family:"微软雅黑"; font-weight:bold;}

.relationStep1 .stepr .stepbar{ background:url(../images/relationSprites.jpg) no-repeat; width:140px; height:220px;}


