@charset "utf-8";
/* CSS Document */

/*公告样式*/
/**{ margin:0; padding:0; }*/
body{ display:block; width:100%; font-family:Arial,"宋体","微软雅黑"; font-size:12px; color:#2e2925; margin:0; padding:0; }
a{color:#2e2925;}
a:link{text-decoration: none; color:#2e2925;}
a:visited{text-decoration: none;}
a:hover{text-decoration:none;color:#e72e35;}
a:active{text-decoration:none;color:#2e2925;}

/*下面2行代码 去除a超链接外面的虚线*/
a{ blr:expression(this.onFocus=this.blur()) } /*针对 IE*/
a{ outline:none; } /*针对firefox等*/

img{vertical-align:middle;border:0;} 
.nolist{list-style-type:none; margin:0px; padding:0px;}
.nolist li{ list-style-type:none;} 
.leftbox{float:left;}
.rightbox{float:right;}
.hidden{display:none;}
.clear{ clear: both; }
.mar0_padd0{ margin:0; padding:0;}
.mar{margin:0 auto;}

input,textarea,select{ margin:0; padding:0; font-size:12px;}
/***min-height:336px; height:100%; _height:336px; /////  min-height:608px;height:auto !important;height:608px; ****/
.Site{ display:block; width:100%;  margin:auto; float:left; }
.PageWrap{ width:1000px;margin:0 auto; *overflow:hidden;}

/*头部样式*/
.index_header{ width:1000px; height:118px;}
.index_header .logo{ float:left;display:inline; margin:4px 0px 0px 10px; padding:0; top:0px;}
.index_header .logo img{ width:268px !important;}
.index_header .region{ width:80px; float:left; margin-top:70px; margin-left:10px;}
.index_header .region .region_on{color:#333; font-size:12px; float:left; background:url(../images/region_on2.jpg) no-repeat; width:43px; height:30px; line-height:30px; padding-left:37px; cursor:pointer;}
.index_header .region .region_on i{ background:url(../images/up-sprites.png) no-repeat 0px 0px; width:10px; height:7px; display:inline-block; margin-left:2px;}
.index_header .region .region_switch{ background:#fff; border:1px solid #ccc; position:relative; z-index:99999; padding:0px 10px 0px 10px; float:left; width:120px; display:none;}
.index_header .region .region_switch ul{}
.index_header .region .region_switch ul li{ float:left; width:60px; line-height:24px;}

.index_header .rightbar{ width:600px; float:right; display:inline; }
.index_header .rightbar .topbars{width:600px; font-size:12px; font-family:"微软雅黑"; text-align:right; padding:5px 0px 5px 0px; float:right;}
.index_header .rightbar .topbars span{ font-size:12px;}
.index_header .rightbar .topbars a{ font-size:12px; font-family:"微软雅黑";}
.index_header .rightbar .topbars .loginMember{ }
.index_header .rightbar .topbars .loginMember:hover{ text-decoration:none; color:#2E2925;}
.index_header .rightbar .topbars .loginMember b:hover{ color:#f00; text-decoration:underline;}
.index_header .rightbar .topbars .loginMember b{color:#F00; font-weight:normal; margin-left:5px;}

.index_header .rightbar .topbars span.attention{ position:relative;  cursor:pointer; height:25px; z-index:1000 !important;}
.index_header .rightbar .topbars .attention_warp{position:absolute;  padding:10px; border:1px solid #C4C4C4; top:25px; background:#fff; display:none; left:0px;}
.index_header .rightbar .topbars .attention_warp i{background:url(../images/attention_icon.jpg) no-repeat; display:inline-block; width:11px; height:7px; position:absolute; left:10px; top:-7px;}
.index_header .rightbar .topbars ul{ }
.index_header .rightbar .topbars ul li{ text-align:left;}
.index_header .rightbar .topbars ul li a.Weibo{ background:url(../images/attention_icon.png) no-repeat 0 0; display:block; cursor:pointer; line-height:18px; font-size:12px; width:50px; margin-bottom:5px; padding-left:25px;}
.index_header .rightbar .topbars ul li span.Weixi{ background:url(../images/attention_icon.png) no-repeat 0 -20px; display:block; cursor:pointer; line-height:18px; font-size:12px;width:50px; padding-left:25px;}
.index_header .rightbar .topbars ul li b{ background:url(../images/erweima_weixi.png) no-repeat; width:180px; height:210px; display:block;}

.index_header .rightbar .part1{width:600px; float:right; padding-top:17px;}
.index_header .rightbar .part1 .search_warp{ width:345px; float:left;}
.index_header .rightbar .part1 .contact{ width:150px; float:right;}

.index_header .rightbar .part1 .search_warp .search{ text-align:right; background:url(../images/search_bg.jpg) no-repeat; width:345px; height:27px; float:left;}
.index_header .rightbar .part1 .search_warp .search .searchborder{ float:left; width:238px; height:26px; border:1px solid #CCCCCC; color:#C5C4C4; line-height:26px; padding:0px 0px 0px 10px;}
.index_header .rightbar .part1 .search_warp .search .searchbtn{background:url(../images/searchbtn.jpg) no-repeat; width:47px; height:24px; float:left; border:none; cursor:pointer; margin-left:-54px; margin-top:2px;}
.index_header .rightbar .part1 .search_warp .search .searchallbtn{ background:url(../images/searchallbtn.jpg) no-repeat; width:82px; height:28px; float:left; margin-left:10px; border:none; cursor:pointer;}
.index_header .rightbar .part1 .search_warp .hotsearch{ width:345px; float:left; line-height:26px; color:#999999;}
.index_header .rightbar .part1 .search_warp .hotsearch a{ color:#999999;}

.index_header .rightbar .part1 .contact p.tel1{margin-top:0px; text-align:right;font-family:"微软雅黑";}
.index_header .rightbar .part1 .contact p.tel2{font-size:20px; text-align:right; margin-top:5px;}

.nav .cart{ float:left; margin-top:2px;}
.nav .shopCart_warp{ float:right; position:relative; z-index:999;}
.nav .shopCart_warp .shopCart{ background:url(../images/shopCart2.png); width:83px; height:28px; border:none; float:right;  color:#b0b0b0; padding-left:25px;font-family:"微软雅黑"; line-height:28px; cursor:pointer; text-align:center;}
.nav .shopCart_warp .shopCart strong{ color:#F00; font-size:14px;}


.nav{ width:1000px; background:url(../images/index_navbg2.png) repeat-x; height:37px; top:0px;*left:50%; *margin-left:-500px;}
.nav .mainNav{ float:left; padding-left:40px; padding-top:0px;}
.nav .mainNav li{float:left; margin:0px 30px 0px 0px; display:inline; position:relative;width:88px; padding-left:22px; height:34px; z-index:111;}
.nav .mainNav li.home{ width:55px; padding-left:20px;} 
.nav .mainNav li a{ display:block; background:url(../images/navSprites.png) no-repeat; height:20px; text-indent:-9999em; margin-top:8px;}
.nav .mainNav li a.nav1{background-position:0 0; width:34px;}
.nav .mainNav li a.nav2{background-position:0 -24px; width:70px;}
.nav .mainNav li a.nav3{background-position:0 -48px; width:70px;}
.nav .mainNav li a.nav4{background-position:0 -72px; width:70px;}
.nav .mainNav li a.nav5{background-position:0 -96px; width:70px;}
.nav .mainNav li a.nav7{background-position:0 -120px; width:70px;}
.nav .mainNav li a.nav6{background-position:0 -144px; width:70px;}
.nav .mainNav li a.nav8{background-position:0 -168px; width:70px;}

.nav .mainNav2{ float:left; padding-left:40px; padding-top:0px;}
.nav .mainNav2 li{float:left; margin:0px 30px 0px 0px; display:inline; position:relative;width:88px; padding-left:22px; height:34px; z-index:111;}
.nav .mainNav2 li.home{ width:55px; padding-left:20px;}
.nav .mainNav2 li a{ display:block; background:url(../images/new-navsprites.png) no-repeat; height:20px; text-indent:-9999em; margin-top:8px;}
.nav .mainNav2 li a.nav11{background-position:0 0; width:34px;}
.nav .mainNav2 li a.nav22{background-position:0 -24px; width:70px;}
.nav .mainNav2 li a.nav33{background-position:0 -48px; width:70px;}
.nav .mainNav2 li a.nav44{background-position:0 -72px; width:70px;}
.nav .mainNav2 li a.nav55{background-position:0 -96px; width:70px;}


.nav .mainNav li.on{ background:#60a60f;}
.nav .mainNav li.hover{ background:url(../images/subNav_bg.png);}
.nav .mainNav li .subNav{ float:left; width:110px; position:absolute; left:0px; top:34px; padding:0px !important; padding-bottom:0px !important;background:url(../images/subNav_bg.png) !important; }
.nav .mainNav li .subNav li{ float:left; margin:0 !important; padding:0 !important;width:110px; border-top:1px solid #ccc; height:30px !important; }
.nav .mainNav li .subNav li a{ color:#fff; text-indent:0em !important; width:110px !important; text-align:center; font-size:13px; height:30px !important; line-height:30px; margin-top:0 !important; background:none !important; position:relative;}
.nav .mainNav li .subNav li a:hover{ background:url(../images/subNav_bg2.png) !important; color:#356f3d !important;}
.nav .mainNav li .subNav li a b{ background: url("../images/hot.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block; height: 13px;width: 31px; margin-left:1px; position:absolute; top:3px;}
.nav .mainNav li .subNav li.pb5{ padding-bottom:5px !important;}


/*尾部样式*/
.footer_warp{ background:url(../images/index_footer.jpg) no-repeat; width:1000px; height:185px;}
.footer{ width:880px; border-top:4px solid #85BB63; padding-left:120px; height:140px;}
.footer .footer_list{ float:left; margin:10px 0px 0px 0px; display:inline; width:170px;}
.footer .footer_list dt{ font-size:12px; font-weight:bold;line-height:24px;color:#5a5959; margin: 0;padding:0;}
.footer .footer_list dd{ margin:0; padding:0; line-height:22px;}
.footer .footer_list dd a{ color:#5a5959;}

.copyright{ clear:both; width:1000px; text-align:center; color: #fff;font-family: "微软雅黑";padding-top:15px;}

.fixweixi{ width:117px; height:209px; position:fixed; right:0px; top:50%; margin-top:-100px;}


/*中间公共样式*/
.breads{ width:1000px; height:34px; line-height:34px;background:#E6E6E6 url(../images/breadCrumbs_icon2.jpg) no-repeat 75px center;}
.breads span{ padding-left:95px; line-height:34px;}
.breads span b{color:#016934;font-weight:normal;cursor:default;}
.main{ width:900px; padding:25px 50px 25px 50px;background:url(../images/index_bg.jpg);}
.main .banner{ width:880px; padding:10px; background:#fff;}



/* SVN.committedRevision=707572 */ 
body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
body, button, input, select, textarea {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
}
input, select, textarea {
	font-size: 100%;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #c00;
}
a.blue_link {
	color: #06c;
}
a.blue_link:hover {
	color: #f60;
}
.clearfix:after {
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
.clearfix {
*zoom:1;
}
img {
	border: 0 none;
	vertical-align: top;
}
em {
	font-style: normal;
}
button::-moz-focus-inner {
padding:0;
border:none;
}
.wrap {
	margin: 0 auto;
	width: 980px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mt {
	margin-top: 10px;
}
.ml {
	margin-left: 10px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mb {
	margin-bottom: 10px;
}
.none {
	display: none;
}


.mini_cart {
	background: #C51D1D url(../images/indexhead_sprite.png?707572) no-repeat 0 -120px;
	width: 207px;
	height: 37px;
	float: right;
	margin-top: -2px;
	margin-right: -2px;
	position: relative;
	z-index: 999;
}
.mini_cart .minicart_box {
	position: relative;
	z-index: 999;
	_zoom: 1;
}
.mini_cart a.mini_cart_btn {
	line-height: 33px;
	display: block;
	height: 37px;
	padding: 0 0 0 72px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}
.mini_cart a.mini_cart_btn:hover {
	color: #FFF;
}
.mini_cart .cart_num {
	position: absolute;
	top: 8px;
	left: 127px;
	height: 16px;
	padding: 0 4px;
	background: #fcb32b;
	font-size: 12px;
	font-family: arial, \5b8b\4f53;
	line-height: 16px;
	font-weight: bold;
	color: #A80000;
	white-space: nowrap;
}
.mini_cart .cart_num s {
	text-decoration: none;
}

.nav .shopCart_warp .minicart_list .nopro{ text-align:center; padding:40px 0px;}
.nav .shopCart_warp .minicart_list .nopro img{ vertical-align:middle !important;}

.minicart_list {
	position: absolute;
	right: 0;
	top:27px !important;
	z-index: 10000;
	display: none;
	border: 1px solid #ccc;
	background: #FFF;
	width:358px;
}
.minicart_list .list_detail {
	width: 358px;
	background: #FFF;
}
.minicart_list ul.cart_tab {
	position: absolute;
	left: -20px;
	top: 20px;
}
.minicart_list ul.cart_tab li {
	width: 18px;
	padding: 6px 0 6px 1px;
	line-height: 15px;
	text-align: center;
	background: #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #9E1111;
	color: #333;
	margin-bottom: 10px;
	cursor: pointer;
}
.minicart_list ul.cart_tab li.cur_tab {
	padding: 7px 0 7px 1px;
	background: #FFF;
	border-left: 1px solid #9E1111;
	border-top: 1px solid #9E1111;
	border-bottom: 1px solid #9E1111;
	border-right: 1px solid #FFF;
	font-weight: bold;
	color: #C00;
}
.minicart_list .list_detail ul {
	margin: 0 1px;
	max-height: 329px;
	min-height: 142px;
	padding-top: 6px;
	overflow-y: auto;
	position: relative;
}
.minicart_list .list_detail li {
	height: 40px;
	padding: 7px 10px;
	border-bottom: 1px solid #F3F3F3;
	position: relative;
	z-index: 999;
}
.minicart_list .list_detail li.miniSoldout .num_box {
	margin-top: 10px;
}
.minicart_list .list_detail li.miniSoldout span {
	float: left;
	width: 60px;
	margin-left: 10px;
	color: #666;
	font-weight: bold;
	line-height: 40px;
}
.minicart_list .list_detail a.pro_img {
	width: 60px;
	height: 35px;
	border: 1px solid #E4E4E4;
	margin-right: 5px;
	float: left;
	text-align:center;
	padding-top:5px;
}
.minicart_list .list_detail a.pro_img img{
	width: 60px !important;
	height: 30px !important;
}
.minicart_list .list_detail a.pro_name {
	line-height: 20px;
	height: 40px;
	width: 100px;
	overflow: hidden;
	float: left;
}
.minicart_list .list_detail .pro_price {
	color: #C00;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 6px;
	font-weight: bold;
	width: 60px;
	height: 40px;
	overflow: hidden;
	float: left;
	_display: inline;
}
.minicart_list .list_detail .pro_price b{ display:inline-block; color:#ccc; text-decoration:line-through; width:100%;}
.minicart_list .list_detail .pro_price p.cart_gray {
	font-weight: normal;
	color: #999;
}
.minicart_list .list_detail .num_box a {
	line-height: 20px;
}
.minicart_list .list_detail .num_box {
	width: 70px;
	display: block;
	float: left;
	text-align: center;
}
.minicart_list .list_detail a.delete {
	background: url(../images/indexhead_sprite.png?707572) no-repeat -220px -20px;
	width: 7px;
	height: 7px;
	display: block;
	float: right;
	margin-top: 16px;
}
.minicart_list .list_detail a.delete:hover {
	background-position: -240px -20px;
}
.minicart_list .list_detail .checkout_box {
	background: #f7f7f7;
	padding: 7px 9px 11px 21px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	position: relative;
}
.minicart_list .list_detail .checkout_box strong, .list_detail .mall_account strong {
	color: #C00;
}
.minicart_list .list_detail a.checkout_btn {
	background: url(../images/indexhead_sprite.png?707572) no-repeat 0 -160px;
	width: 72px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	margin-top: 10px;
}
.minicart_list .list_detail .mall_account {
	height: 27px;
	line-height: 27px;
	padding: 0 10px 0 28px;
	background: #FFFDE6 url(../images/indexhead_sprite.png?707572) no-repeat 7px -684px;
	font-weight: bold;
	position: relative;
}
.minicart_list .list_detail .gray_bg {
	background: #F7F7F7;
	border-top: 1px solid #d1d1d1;
}
.minus, .minusDisable, .plus, .plusDisable {
	background: url(../images/indexhead_sprite.png?707572) no-repeat;
	width: 13px;
	height: 13px;
	margin-top: 3px;
	border: 0;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
}
.minus {
	background-position: -220px -120px;
	margin-right: 3px;
}
.minusDisable {
	background-position: -260px -120px;
	margin-right: 3px;
}
.plus {
	background-position: -240px -120px;
	margin-left: 3px;
}
.plusDisable {
	background-position: -280px -120px;
	margin-left: 3px;
}
.num_box .minicart_num {
	width: 28px;
	height: 16px;
	margin-top: 3px;
	border: 1px solid #cfcfcf;
	text-align: center;
	vertical-align: middle;
	color: #262626;
}
.list_detail a.regularbuy_btn {
	background: url(../images/indexhead_sprite.png?707572) no-repeat -80px -160px;
	width: 97px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	margin-top: 10px;
}
.list_detail .none_tips {
	margin: 66px 0 66px 65px;
}
.list_detail .none_tips a {
	color: #06C;
}
.hide {
	display: none;
}


/* 输入框的样式 */
.txtfld {width:150px;margin:0px;padding:5px;border:#BBB 1px solid;border-radius:3px 3px 3px 3px;color:#331C01;font:12px;}
.txtfld2 {width:90px;margin:0px;padding:3px;border:#BBB 1px solid;border-radius:3px 3px 3px 3px;color:#777;font:12px;}
.txtsty{margin:0px;padding:3px;border:#BBB 1px solid;border-radius:3px 3px 3px 3px;color:#777;font:12px;}


.savebutton{ background:url(../images/save_g.jpg) no-repeat; width:60px; height:25px; border:none; cursor:pointer;}
.cancelbutton{ background:url(../images/cancel.jpg) no-repeat; width:60px; height:25px; border:none; cursor:pointer;}
.clearbutton{ background:url(../images/clearbutton.jpg) no-repeat; width:80px; height:28px; border:none; cursor:pointer;}
.goaccountbutton{ background:url(../images/goaccountbutton.jpg) no-repeat; width:80px; height:28px; border:none; cursor:pointer;}



